/* You can add global styles to this file, and also import other style files */
.img-logo {
    width:30px;
}

/*Animacion de efecto fade in*/
@keyframes fadeIn{
    from { 
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.animated{
    animation-duration: 1s;
    animation-fill-mode: both;

}
.fast{
    animation-duration: 0.4s;
    animation-fill-mode: both;
}
fadeIn{
    animation-name: fadeIn;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
